USE [master]
GO
/****** Object:  Database [ING_Software]    Script Date: 23-06-2019 0:58:52 ******/
CREATE DATABASE [ING_Software]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ING_Software', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\ING_Software.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ING_Software_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\ING_Software_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ING_Software].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ING_Software]
GO
USE [ING_Software]
GO
/****** Object:  Table [dbo].[Actividades]    Script Date: 23-06-2019 0:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividades](
	[FEC_ACT] [int] NULL,
	[TIPO_ACT] [nvarchar](50) NULL,
	[MONT_DEPO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 23-06-2019 0:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[NOM_USUARIO] [nvarchar](50) NULL,
	[CONTRASEÑA] [nvarchar](50) NULL,
	[REPORTE] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colegio]    Script Date: 23-06-2019 0:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colegio](
	[NOM_CLEGIO] [nvarchar](50) NOT NULL,
	[DIRECCION] [nvarchar](50) NULL,
 CONSTRAINT [PK_Colegio] PRIMARY KEY CLUSTERED 
(
	[NOM_CLEGIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contrato]    Script Date: 23-06-2019 0:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contrato](
	[COD_CONT] [int] NOT NULL,
	[FEC_INICIO] [int] NULL,
	[FEC_TERMINO] [int] NULL,
	[CANT_ALUMNOS] [int] NULL,
	[META] [int] NULL,
 CONSTRAINT [PK_Contrato] PRIMARY KEY CLUSTERED 
(
	[COD_CONT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 23-06-2019 0:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[COD_CURSO] [int] NOT NULL,
	[NVL] [nvarchar](50) NULL,
	[LETRA] [int] NULL,
	[MONTO_TOTAL] [int] NULL,
 CONSTRAINT [PK_Curso] PRIMARY KEY CLUSTERED 
(
	[COD_CURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Depositos]    Script Date: 23-06-2019 0:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Depositos](
	[MONTO_DEP] [int] NULL,
	[SALDO_ACT] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destinos]    Script Date: 23-06-2019 0:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destinos](
	[FEC_INICIO] [date] NULL,
	[FEC_TERMINO] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ejecutivo]    Script Date: 23-06-2019 0:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ejecutivo](
	[NOM_USUARIO] [nvarchar](50) NULL,
	[CONTRASEÑA] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peticiones]    Script Date: 23-06-2019 0:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peticiones](
	[NOM_SOLICITANTE] [nvarchar](50) NULL,
	[CORREO] [nvarchar](50) NULL,
	[DESCRIPCION] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seguros]    Script Date: 23-06-2019 0:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seguros](
	[EMPRESA] [nvarchar](50) NULL,
	[FEC_INC] [int] NULL,
	[FEC_TERM] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicio_adicional]    Script Date: 23-06-2019 0:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio_adicional](
	[TIPO_SERVICIO] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 23-06-2019 0:58:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Cod_Usuario] [int] NOT NULL,
	[Nombres] [nvarchar](50) NULL,
	[Appaterno] [nvarchar](50) NULL,
	[Apmaterno] [nvarchar](50) NULL,
	[Rut] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Cod_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
